snippet { "autocomplete braces" iA
{${VISUAL}$1}$0
endsnippet

snippet ( "autocomplete parenthess" iA
(${VISUAL}$1)$0
endsnippet

snippet [ "autocomplete brackets" iA
[${VISUAL}$1]$0
endsnippet

snippet " "wrap visual + autocomplete quotes" iA
"${VISUAL}$1"$0
endsnippet

